# .env.example
BASE_DIR=/absolute/path/to/uniAI-MCP
DB_PATH=/absolute/path/to/uniAI-MCP/database.db
SYLLABUS_ROOT=/absolute/path/to/uniAI-MCP/resources/syllabus/AKTU
# NOTES_ROOT=/absolute/path/to/uniAI-MCP/resources/pyqs/AKTU
# PYQ_ROOT=/absolute/path/to/uniAI-MCP/resources/notes/AKTU
